# Blizzard API (https://develop.battle.net/access/clients)
BLIZZARD_CLIENT_ID=
BLIZZARD_CLIENT_SECRET=

# Warcraft Logs API v2 (https://www.warcraftlogs.com/api/clients/)
WCL_CLIENT_ID=
WCL_CLIENT_SECRET=

# Default region for Blizzard API calls (us | eu | kr | tw)
REGION=us
